
/* image-left */
.flex-center {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/fotoad.appspot.com/o/FOTOAD_IMG%2Fbg-reset-password.jpg?alt=media&token=aa46361a-f8f9-49d5-aa1e-607da1c2f9a4);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#fondo {
    width: 100%;
    min-height: 100vh;
}

#fondo h1,
#fondo span {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
}

.flex-down {
    position: absolute;
    bottom: 30px;
}





.inciar-sesion-txt {
    font-size: 30px;
    margin-bottom: 27px;
}

#email {
    margin-bottom: 27px;
}

#email input::placeholder {
    font-size: 14px;
    color: var(--placeholder);
}

#email input{
    height: 50px;
}

#emailInfo {
    color: var(--placeholder);
}

#email label {
    font-size: 16px;
}

.color-monatana {
    background-color: #2B314C;
}

.color-cielo {
    background-color: #7383a0;
    color: #2B314C;
}

#btn-recuperar {
    padding: 13px !important;
    border-radius: 5px;
}

#btn-recuperar:hover {
    color: white;
    background-color: #323958;
    transition: .4s;
}

#registrar a:hover {
    color: #3b697a;
    transition: .4s;
}