<section>
    <div class="row g-0">


<!-- Columna Left -->
        <div class="col-lg-6 d-none d-lg-flex">
            <!-- Fondo -->
            <div id="fondo" class="flex-center">
                <h1 class="m-0">La privacidad ante todo.</h1>
                <span id="fotoadtxt" class="flex-down">FotoAD</span>
            </div>
        </div>


<!-- Columna Right -->
        <div class="col-lg-6 d-flex flex-column align-items-end min-vh-100">
            <div class="px-lg-6 pt-lg-5 pb-lg-5 p-5 mt-5 text-center w-100 mb-auto" id="bienvenido">
                <p class="m-0">Bienvenido a FotoAD</p>
            </div>
<!-- Login -->
            <div class="px-lg-6 py-lg-5 p-4 align-self-center">
                <h1 class="fw-bold text-center inciar-sesion-txt">Recuperar contraseña</h1>
                <form action="#" method="post" (ngSubmit)="resetPassword()">
                    <div class="" id="email">
                        <label for="labelEmail" class="form-label"> Correo electrónico</label>
                        <input [(ngModel)]="email" type="email" class="form-control" placeholder="Ingrese su correo electrónico" name="email" required>
                        
                        <div id="emailInfo" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
                    </div>
<!-- Login Buttons -->
                    <div class="">
                        <button id="btn-recuperar" type="submit" class="btn btn-outline-light color-monatana fw-bold w-100 border-0 p-2 mb-3">
                            Recuperar
                        </button>
                    </div>
                </form>
            </div>
<!-- Footer -->
            <div class="px-lg-6 pt-lg-5 pb-lg-5 p-5 mb-5 text-center w-100 mt-auto" id="registrar">
                <div class="">
                    <p class="d-inline-block txt-gris mb-0">¿Ya tienes cuenta?</p> 
                    <a routerLink="/auth/login" class="txt-bluedeep text-decoration-none"> Inicia sesión</a>
                </div>
                <p class="d-inline-block txt-gris mb-0">¿No tienes cuenta?</p> 
                <a routerLink="/auth/signup" class="txt-bluedeep text-decoration-none"> Registrate ahora</a>
            </div>
        </div>
        

    </div>
</section>