/* image-left */
.img-left {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/fotoad.appspot.com/o/FOTOAD_IMG%2Fimage-leftregister.png?alt=media&token=0f461154-a460-4fbb-82e4-e2d326aa752c);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor-texto-img {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 4rem;
}

.textos-img {
    text-align: center;
}

/* Texto de imagen */
.textos-img h2,
.textos-img span {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.textos-img h2 {
    padding-top: 20px;
}
.c1, .c2 {
    align-self: flex-start;
    width: 28px;
    margin: 0 9px;
}



.btnRegresar {
    border: none;
    background: none;
    color: var(--placeholder);
    
    transition: .6s;
}
.btnRegresar:hover {
    color: #8692a6b0;
}

.h1registrar {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 27px;
}

.comparte {
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 18px;
    color: var(--placeholder);
    margin-bottom: 27px;
}

#name input::placeholder,
#email input::placeholder,
#pass input::placeholder {
    font-size: 14px;
    color: var(--placeholder);
}

#name input,
#email input,
#pass input {
    height: 50px;
}

#emailInfo {
    color: var(--placeholder);
}

#name label,
#email label,
#pass label {
    font-size: 16px;
}

#terminos label {
    margin: 0px;
}


#btn-registrar {
    background-color: #4a4f5e;
}
#btn-google {
    background-color: #5e7fac;
}
#btn-registrar,
#btn-google {
    padding: 13px !important;
    border-radius: 5px;
}

.or {
    display: flex;
    margin: 0;
    justify-content: center;
}

.o {
    margin: auto 35px;
    font-size: 14px;
    color: #BABABA;
}

.lineOR {
    width: 100%; 
    border: 0.5px solid #F5F5F5;
    margin: auto auto;
    justify-content: space-between;
}

#btn-registrar:hover {
    color: white;
    background-color: #545a6b;
    transition: .4s;
}
#btn-google:hover {
    color: white;
    background-color: #6487b8;
    transition: .4s;
}

#login a:hover {
    color: #3b697a;
    transition: .4s;
}