<section>
    <div class="row g-0">


<!-- Column left -->
        <div class="col-lg-6 d-none d-lg-flex">
            <!-- Fondo -->
            <div class="img-left w-100">
                <!-- texto -->
                <div class="contenedor-texto-img">
                    <img class="c1" src="assets/img/comilla1.svg" alt="">
                    <div class="textos-img">
                        <span>La privacidad ante todo.</span>
                        <h2>~ Equipo FotoAD</h2>
                    </div>
                    <img class="c2" src="assets/img/comilla2.svg" alt="">
                </div>
            </div>
        </div>


<!-- Column right -->
        <div class="col-lg-6 d-flex flex-column align-items-center min-vh-100">
            <div class="px-lg-6 pt-lg-5 pb-lg-3 p-5 mt-5 text-center w-100 mb-auto" id="bienvenido">
                <p class="m-0">Bienvenido a FotoAD</p>
            </div>
                
<!-- Register -->
            <div class="px-lg-6 py-lg-2 p-4 align-self-center mx-auto content-registro">

                <h1 class="h1registrar text-center">Registrar nueva cuenta</h1>
                <h2 class="comparte">Comparte, Explora y Apoya.</h2>
    
                <div class="hr"></div>
    
                <form (ngSubmit)="register()">
                    <div class="mb-3" id="name">
                        <label for="labelEmail" class="form-label"> Nombre de usuario* </label>
                        <input type="text"
                               name="name"
                               [(ngModel)]="credenciales.name"
                               class="form-control" 
                               placeholder="Ingrese su nombre" 
                               required>
                            </div>
                            <div class="mb-3" id="email">
                        <label for="labelEmail" class="form-label"> Direccion de correo* </label>
                        <input type="email"
                               name="email"
                               [(ngModel)]="credenciales.email"
                               class="form-control" 
                               placeholder="Ingrese su correo"
                               required>
                        <div id="emailInfo" class="form-text">Nunca compartiremos tu correo electrónico con nadie más.</div>
                    </div>
                    <div class="" id="pass">
                        <label for="labelPass" class="form-label"> Crear contraseña* </label>
                        <input type="password"
                               name="password"
                               [(ngModel)]="credenciales.password"
                               class="form-control" 
                               placeholder="Contraseña"
                               autocomplete="off" 
                               required>
                    </div>
<!-- Registro Help -->
                    <div class="d-flex row justify-content-between pb-4 pt-4 fs-6" id="terminos">
                        <div class="col-auto">
                            <input class="form-check-input me-2" name="terminos" [(ngModel)]="form.condiciones" type="checkbox" id="radioRecordarme">
                            <label class="form-check-label terminos" for="labelTerminos">Acepto los terminos y condiciones</label>
                        </div>
                    </div>
<!-- Registro Buttons -->
                    <div>
                        <button id="btn-registrar" 
                                type="submit"
                                class="btn btn-outline-light fw-bold w-100 border-0 p-2">
                            Registrar cuenta
                        </button>
                    
                        <div class="or">
                            <div class="lineOR"></div>
                                <p class="o"> O </p>
                            <div class="lineOR"></div>
                        </div>
                        <button (click)="googleRegister()" 
                                id="btn-google" 
                                type="button"
                                class="btn btn-outline-light fw-bold w-100 border-0 p-2">
                            <i class="fab fa-google lead me-2"></i>
                            Registrate con Google
                        </button>
                    </div>
                </form>
            </div>
<!-- Footer -->
            <div class="px-lg-6 pt-lg-3 pb-lg-5 p-5 mb-5 text-center w-100 mt-auto" id="login">
                <p class="d-inline-block txt-gris mb-0">¿Ya tienes cuenta?</p> 
                <a routerLink="/auth/login" class="txt-bluedeep text-decoration-none"> Inicia sesión</a>
            </div>
        </div>


    </div>
</section>