:root {
    --bluedeep: #194352;
    --atardecer: #D36B43;
    --placeholder: #8692A6;
    --light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--bluedeep);
}

.txt-gris { color: #616161; }
.txt-bluedeep { color: var(--bluedeep); }
.place-holder { font: var(--placeholder); }
.bg-atardecer { background-color: var(--atardecer); }
.bg-bluedeep { background-color: var(--bluedeep); }

#left {
    /* image-left */
    width: 50%;
    height: 900px;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./images/bg-left.png');
}

#input-log label {
    font-size: 16px;
}

#input-log input::placeholder {
    font-size: 14px;
}

#rem-forget label, #rem-forget a {
    font-size: 14px;
    color: var(--bluedeep) !important;
}

#op-pass {
    font-size: 16px;
}

