article {
    min-height: calc(100vh - 80px- 96px);
}

.pre-visualization {
    /* min-height: 18rem; */
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pre-visualization i {
    font-size: 1.5rem;
    transition: all .2s ease;
}

.pre-visualization .delete-box {
    color: rgb(255, 45, 45);
}.pre-visualization .delete-box i:hover {
    color: rgb(255, 28, 28);
}

.pre-visualization img {
    transition: all .3s;
}
.delete-box,
.upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #24242452;
}
.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* min-height: 18rem; */
    font-size: 1rem;
    color: red;
    opacity: 1;

    transition: all .2s ease;
}

.upload label {
}
h1 {
    font-size: 48px;
    padding-bottom: 30px;
}

h3 {
    font-size: 24px;
}

section {
    margin-bottom: 1.5rem;
}

.content {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #ccc;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #dedede;
}

td {
    padding: 16px 16px 16px 0;
}

input,
select {
    height: 52px;
}

.content-button {
    display: flex;
    flex-direction: column-reverse;
}

.buttonGuardar {
    box-sizing: border-box;
    padding: 13px 48px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 500px;
    display: inline-block;
    border: 1px solid var(--bluedeep);
    text-decoration: none;
    color: var(--bluedeep);
    font-weight: bold;
    text-align: center;
    align-self: center;

    transition: all .3s ease;
}
.buttonGuardar:hover {
    background: var(--bluedeep);
    border: 1px solid var(--bluedeep);
    color: #fff;
}

.buttonCancelar {
    padding: 13px 30px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 500px;
    display: inline-block;
    text-decoration: none;
    color: var(--placeholder);
    font-weight: bold;
    text-align: center;
    align-self: center;

    transition: all .3s ease;
}
.buttonCancelar:hover {
    color: var(--bluedeep);
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 40px;
    }
    article {
        min-height: calc(100vh - 60px - 32px);
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    h3 {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .content-button {
        display: block;
        text-align: right;
    }
}