
/* image-left */
.flex-center {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/fotoad.appspot.com/o/FOTOAD_IMG%2Fbg-left.png?alt=media&token=2dfbf0ab-d692-4f95-9a7d-94cbf13cb5d7);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#fondo {
    width: 100%;
    min-height: 100vh;
}

#fondo h1,
#fondo span {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
}

.flex-down {
    position: absolute;
    bottom: 30px;
}





.inciar-sesion-txt {
    font-size: 30px;
    margin-bottom: 27px;
}

#email input::placeholder,
#pass input::placeholder {
    font-size: 14px;
    color: var(--placeholder);
}

#email input,
#pass input {
    height: 50px;
}

#emailInfo {
    color: var(--placeholder);
}

#email label,
#pass label {
    font-size: 16px;
}

#passlost {
    font-size: 15px;
}

#btn-login,
#btn-google {
    padding: 13px !important;
    border-radius: 5px;
}

#btn-login:hover {
    color: white;
    background-color: #e07347;
    transition: .4s;
}
#btn-google:hover {
    color: white;
    background-color: #1c4b5c;
    transition: .4s;
}

#registrar a:hover {
    color: #3b697a;
    transition: .4s;
}