<section>
    <div class="row g-0">


<!-- Columna Left -->
        <div class="col-lg-6 d-none d-lg-flex">
            <!-- Fondo -->
            <div id="fondo" class="flex-center">
                <h1 class="m-0">La privacidad ante todo.</h1>
                <span id="fotoadtxt" class="flex-down">FotoAD</span>
            </div>
        </div>


<!-- Columna Right -->
        <div class="col-lg-6 d-flex flex-column align-items-end min-vh-100">
            <div class="px-lg-6 pt-lg-5 pb-lg-5 p-5 mt-5 text-center w-100 mb-auto" id="bienvenido">
                <p class="m-0">Bienvenido a FotoAD</p>
            </div>
<!-- Login -->
            <div class="px-lg-6 py-lg-5 p-4 align-self-center">
                <h1 class="fw-bold text-center inciar-sesion-txt">Inicio de sesión</h1>
                <form action="#" method="post" (ngSubmit)="login()">
                    <div class="mb-3" id="email">
                        <label for="labelEmail" class="form-label"> Correo electrónico</label>
                        <input [(ngModel)]="email" type="email" class="form-control" placeholder="Ingrese su correo electrónico" name="email" required>
                        
                        <div id="emailInfo" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
                    </div>
                    <div class="mb-0" id="pass">
                        <label for="labelPass" class="form-label"> Contraseña </label>
                        <input [(ngModel)]="password" type="password" class="form-control" placeholder="Ingrese su contraseña" name="password" autocomplete="off" required>
                    </div>
<!-- Login Help -->
                    <div class="d-flex row justify-content-between pb-4 pt-4 fs-6" id="rem-forget">
                        <div class="col-auto">
                            <input class="form-check-input me-2" name="recordarme" [(ngModel)]="form.recordarUser" type="checkbox" id="radioRecordarme">
                            <label class="form-check-label" for="labelRecordarme">Recordarme</label>
                        </div>
                        <div class="col-auto">
                            <a routerLink="/auth/password_reset" id="passlost" class="form-text text-muted text-decoration-none ">¿Olvido la contraseña?</a>
                        </div>
                    </div>
<!-- Login Buttons -->
                    <div>
                        <button (click)="login()" id="btn-login" type="submit" class="btn btn-outline-light fw-bold bg-atardecer w-100 border-0 p-2 mb-3">
                            Iniciar sesión
                        </button>
                        <button (click)="googleLogin()" id="btn-google" type="button" class="btn btn-outline-light fw-bold bg-bluedeep w-100 border-0 p-2">
                            <i class="fab fa-google lead me-2"></i>
                            Inicia sesión con google
                        </button>
                    </div>
                </form>
            </div>
<!-- Footer -->
            <div class="px-lg-6 pt-lg-5 pb-lg-5 p-5 mb-5 text-center w-100 mt-auto" id="registrar">
                <p class="d-inline-block txt-gris mb-0">¿No tienes cuenta?</p> 
                <a routerLink="/auth/signup" class="txt-bluedeep text-decoration-none"> Registrate ahora</a>
            </div>
        </div>
        

    </div>
</section>