<p>categories works!</p>
<!-- <button class="btn btn-primary me-2" *ngFor="let categoria of categorias">{{categoria}}</button> -->
<!-- <div class="btn-categorias d-flex justify-content-center">
    <button class="btn btn-primary me-2">Amigos</button>
    <button class="btn btn-primary me-2">Deporte</button>
    <button class="btn btn-primary me-2">Familia</button>
    <button class="btn btn-primary me-2">Otros</button>
</div> -->
<!-- <div class="box-1" style="width: 25rem; height: 25rem; background-color: black;">

</div> -->

<div class="d-grid">
    <div class="card mb-3">
        <div class="img" style="height: 10rem; overflow: hidden;">
            <img src="https://firebasestorage.googleapis.com/v0/b/fotoad.appspot.com/o/FOTOAD_IMG%2Fbg-reset-password.jpg?alt=media&token=aa46361a-f8f9-49d5-aa1e-607da1c2f9a4"
                class="card-img-top" style="background-size: cover !important; background-repeat: no-repeat; background-position: 50rem;" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Fotografia</h5>
            <p class="card-text"><small class="text-muted">hecho por {{nombre}}</small></p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="img" style="height: 10rem; overflow: hidden;">
            <img src="https://firebasestorage.googleapis.com/v0/b/fotoad.appspot.com/o/FOTOAD_IMG%2Fbg-reset-password.jpg?alt=media&token=aa46361a-f8f9-49d5-aa1e-607da1c2f9a4"
                class="card-img-top" style="background-size: cover !important; background-repeat: no-repeat; background-position: top;" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Amigos</h5>
            <p class="card-text"><small class="text-muted">hecho por {{nombre}}</small></p>
        </div>
    </div>
</div>