<footer>
    <div class="container-lg px-lg-3 mx-auto">
        <div class="row">
            <!-- <div class="footer-col-logo">
                <ul>
                    <li>
                        <a href="/pages/">
                            <img src="../../../../assets/img/logo-design.png" alt="logo-design">
                        </a>
                    </li>
                </ul>
            </div> -->
            <div class="footer-col">
                <h4>COMPAÑÍA</h4>
                <ul>
                    <li><a href="">Acerca de</a></li>
                    <li><a href="">Acerca de</a></li>
                    <li><a href="">Acerca de</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>COMUNIDADES</h4>
                <ul>
                    <li><a href="">Servicios para profesionales</a></li>
                    <li><a href="">Desarrolladores</a></li>
                    <li><a href="">Publicidad</a></li>
                    <li><a href="">Publicidad</a></li>
                    <li><a href="">Publicidad</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>ENLACES ÚTILES</h4>
                <ul>
                    <li><a href="">Ayuda</a></li>
                    <li><a href="">Ayuda</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>
            <div class="footer-col social">
                <div class="social-links">
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="footer-end">
                <span>&copy; 2021 FotoAD</span>
            </div>
        </div>
    </div>
</footer>