<section>
    <div class="row g-0">
        <!-- Box left -->
        <div id="imgleft" class="col-lg-6 img-responsive">
            <img src="/src/assets/images/bg-left.png" class="img-fluid" alt="...">
        </div>
        <!-- Box right -->
        <div id="right-bienvenido" class="col-lg-6 d-flex flex-column align-items-center min-vh-100">
            <!-- Top -->
            <div class="px-lg-6 pt-lg-4 pb-lg-5 p-4 w-100 mb-auto text-center" id="bienvenido">
                <p>Bienvenido a FotoAD</p>
            </div>
            <!-- Content -->
            <div class="px-lg-6 py-lg-4 p-4 align-self-center">
                <h1 class="fw-bold mb-4">Inicio de sesión</h1>

                <form class="mb-6">
                    <!-- Input Correo + Pass -->
                    <div class="mb-3" id="input-log-email">
                        <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" placeholder="Ingrese su correo electrónico"
                            aria-describedby="emailHelp">

                        <div id="emailHelp" class="form-text">
                            Nunca compartiremos su correo electrónico con nadie más.
                        </div>
                    </div>

                    <div class="mb-0" id="input-log-pass">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" placeholder="Ingrese su contraseña">
                    </div>
                    <!-- Opciones  -->
                    <div class="d-flex row justify-content-between py-4 fs-6" id="rem-forget">
                        <div class="col-auto">
                            <input class="form-check-input me-2" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">Recordarme</label>
                        </div>
                        <div class="col-auto">
                            <a href="#" id="passlost" class="form-text text-muted text-decoration-none">
                                ¿Olvido la contraseña?</a>
                        </div>
                    </div>

                    <!-- Botones LOGIN -->
                    <div>
                        <button id="inicio-sesion" type="submit"
                            class="btn btn-outline-light fw-bold bg-atardecer w-100 border-0 p-3 mb-3">
                            Iniciar sesión
                        </button>
                        <button id="inicio-sesion-g" type="submit"
                            class="btn btn-outline-light fw-bold bg-bluedeep w-100 border-0 p-3">
                            <i class="fab fa-google lead mr-2"></i>
                            <!-- <img src="/src/assets/images/iconfinder_Google.png" alt=""> -->
                            Inicia sesión con google
                        </button>
                    </div>
                </form>
            </div>
            <!-- Button -->
            <div class="px-lg-6 pt-lg-4 pb-lg-5 p-4 w-100 mt-auto text-center" id="top-button">
                <p class="d-inline-block txt-gris">¿No tienes cuenta?</p> <a href="#"
                    class="txt-bluedeep text-decoration-none"> Registrate ahora</a>
            </div>
        </div>
    </div>
</section>