article {
    min-height: calc(100vh - 80px - 96px);
}

h1 {
    font-size: 48px;
    padding-bottom: 30px;
}

h3 {
    font-size: 24px;
}

section {
    margin-bottom: 1.5rem;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #dedede;
}

td {
    padding: 16px 16px 16px 0;
}

input,
select {
    height: 52px;
}

.content-button {
    display: flex;
    flex-direction: column-reverse;
}

.buttonNuevaContraseña {
    box-sizing: border-box;
    padding: 13px 48px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 500px;
    display: inline-block;
    border: 1px solid var(--bluedeep);
    text-decoration: none;
    color: var(--bluedeep);
    font-weight: bold;
    text-align: center;
    align-self: center;

    transition: all .3s ease;
}
.buttonNuevaContraseña:hover {
    background: var(--bluedeep);
    border: 1px solid var(--bluedeep);
    color: #fff;
}

.buttonCancelar {
    padding: 13px 30px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 500px;
    display: inline-block;
    text-decoration: none;
    color: var(--placeholder);
    font-weight: bold;
    text-align: center;
    align-self: center;

    transition: all .3s ease;
}
.buttonCancelar:hover {
    color: var(--bluedeep);
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 40px;
    }
    article {
        min-height: calc(100vh - 60px - 32px);
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    h3 {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .content-button {
        display: block;
        text-align: right;
    }
}