<article>
    <div>
        <h1 class="fw-bold m-0">Cambia tu contraseña</h1>
    </div>
    <section>
        <form action="" method="post">
            <section class="content">
                <div class="mb-3">
                    <label for="inputPassword" class="form-label disable">Contraseña actual</label>
                    <input type="password" autocomplete="off" class="form-control" id="inputPasswordActual">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label disable">Nueva contraseña</label>
                    <input type="password" autocomplete="off" class="form-control" id="inputPasswordNueva">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label disable">Repetir nueva contraseña</label>
                    <input type="password" autocomplete="off" class="form-control" id="inputPasswordRepetir">
                </div>
            </section>
            <div class="content-button">
                <a routerLink="/account/overview" class="buttonCancelar">
                    Cancelar
                </a>
                <a routerLink="/account/overview" class="buttonNuevaContraseña">
                    Establecer nueva contraseña
                </a>
            </div>
        </form>
    </section>
</article>