:root {
    --bluedeep: #194352;
    --atardecer: #D36B43;
    --placeholder: #8692A6;
    --light: #ffffff;
}

.txt-gris { color: #616161; }
.txt-bluedeep { color: var(--bluedeep); }
.txt-atardecer { color: var(--atardecer); }
.place-holder { font: var(--placeholder); }
.bg-atardecer { background-color: var(--atardecer); }
.bg-bluedeep { background-color: var(--bluedeep); }
.bg-light { background-color: #fff !important;  }
.txt-hover { color: #b3b3b3; }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--bluedeep);
}

.toast-success {
    --background: #3880ff80;
    color: #fff;
}

.toast-terror {
    --background: #eb445a80;
    color: #fff;
}