.pre-visualization {
    min-height: 18rem;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(255, 70, 70);
}

.delete-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #24242452;
}
.pre-visualization i {
    font-size: 1.5rem;
    transition: all .2s ease;
}

.pre-visualization i:hover {
    color: rgb(255, 28, 28);
}

.pre-visualization img {
    width: 15rem;
    border-radius: 10px;

    transition: all .3s;
}

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 18rem;

    transition: all .2s ease;
}

.upload label {
    font-size: 1rem;
    color: red;
    opacity: 1;
}

h1 {
    font-size: 48px;
    padding-bottom: 30px;
}

h3 {
    font-size: 24px;
}

section {
    margin-bottom: 1.5rem;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #dedede;
}

td {
    padding: 16px 16px 16px 0;
}

.content-button {
    display: flex;
    flex-direction: column-reverse;
}

.button {
    box-sizing: border-box;
    padding: 13px 48px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 500px;
    display: inline-block;
    border: 1px solid var(--bluedeep);
    text-decoration: none;
    color: var(--bluedeep);
    font-weight: bold;
    text-align: center;
    align-self: center;

    transition: all .2s ease;
}

.button:hover {
    background: var(--bluedeep);
    border: 1px solid var(--bluedeep);
    color: #fff;
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    h3 {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .content-button {
        display: block;
        text-align: right;
    }
}