<form>
    <h3 class="fw-bold pb-4 m-0">Nueva foto</h3>
    <div class="upload text-center rounded pb-4" *ngIf="!nuevaFoto.nombre">
        <input class="d-none" id="file-upload" type="file" accept=".png, .jpg, .jpeg" (change)="cargarImagen($event)" />
        <label *ngIf="!nuevaFoto.nombre" class="text-primary p-4" id="file-upload" for="file-upload"><i class="fas fa-cloud-upload-alt fa-3x"></i></label>
        <label *ngIf="!cargarImagen" class="p-4 d-flex align-content-center justify-content-center" id="file-delete"><i class="fas fa-trash-alt"></i></label>
    </div>

    <div  class="pre-visualization pb-4">
        <img [src]="url" alt="" srcset="">
    </div>

    <article>
        <section>
            <table class="w-100">
                <tbody>
                    <tr>
                        <td class="txt-hover">Nombre de imagen</td>
                        <td class="text-end text-xl-start">{{ nuevaFoto.nombre }}</td>
                    </tr>
                    <tr>
                        <td class="txt-hover">Descripción</td>
                        <td class="text-end text-xl-start">
                            <textarea #descripcion class="form-control" name="descripcion" ngDefaultControl [(ngModel)]="nuevaFoto.descripcion" rows="2"></textarea>
                            <!-- <input type="text" [(ngModel)]="nuevaFoto.descripcion" placeholder=""> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="txt-hover">Albumes</td>
                        <td class="text-end text-xl-start">
                            <select #album name="albumes" class="form-select" >
                                <option [ngValue]="albumes" name="album" *ngFor="let album of albumes;">{{ album }}</option>
                                <!-- {{a}} -->
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="txt-hover">Visibilidad</td>
                        <td class="text-end text-xl-start">
                            <select #visibilidad class="form-select">
                                <option value="1">Público</option>
                                <option value="2">Privado</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>
  <div class="content-button">
    <a (click)="publicar(descripcion.value,album.value,visibilidad.value)" class="button">
      Publicar
    </a>
  </div>
</form>
